body {
    margin: 0;
    background-color:white;
}

.voltar{
    font-size: 15px;
    border-radius: 5px;
    margin-left:1250px;
    width: 60px;
    text-align: center;

    
}

.voltarr {
    text-decoration: none;
    color:white;
}

@media only screen and (max-width:500px){
    .voltar {
        margin-left: 10px;
        font-size: 15px;
    }
}


.topo{
    background-color: black;
    width: 100%;
    height:300px;
}
@media only screen and (max-width:500px){
    .topo {
        width: 480px;
    }
}
 


.banner {
    width:500px;
    height:260px;
    background-image: url(img/f1_3.jpg);
}

@media only screen and (max-width:500px){
    .banner{
        width:480px;
        background-image: url(img/logosansung.png);
    
    }
}

div.equipe1{
    background-color: black;
    width: 100%;
    height: 120px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    
}

@media only screen and (max-width:500px){
    div.equipe1{
        width:480px;
        display: flex;
        flex-direction: row;
        
    }
}

div.equipe2{
    background-color: black;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width:500px){
    div.equipe2{
        width: 480px;
        display: flex;
        flex-direction: row;
       
    }
}


.mercedes {
    flex: 1;
    background-image:url(img/mercedesF11.png);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.mercedes a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .mercedes {
        background-image: url(mercedes/img/logo.mobile.jpg);
        width: 45px;
        height: 45px;
    }
}


.ferrari {
    flex: 1;
    background-image: url(img/ferrari11.png);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.ferrari a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .ferrari {
        width: 45px;
        height: 45px;
        background-image: url(ferrari/img/logomobile.jpg);
    }
}

.redbull {
    flex: 1;
    background-image: url(img/redbullF111.jpg);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.redbull a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .redbull {
        width: 45px;
        height: 45px;
        background-image: url(redbull/img/redmobile.jpg);
    }
}

.williams {
    flex: 1;
    background-image: url(img/williamsF111.jpg);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.williams a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .williams {
        width: 45px;
        height: 45px;
        background-image: url(williams/img/wmobile.jpg);
    }
}

.alfaromeu {
    flex: 1;
    background-image: url(img/AlfaRomeoF1logo-201911.jpg);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.alfaromeu a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .alfaromeu {
        width: 45px;
        height: 45px;
        background-image: url(alfaromeu/img/alfamobile.jpg);
    }
}

.alphatauri {
    flex: 1;
    background-image: url(img/livestream-2020-alphatauri-f1-111.jpg);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.alphatauri a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .alphatauri {
        width: 45px;
        height: 45px;
        background-image: url(alphatauri/img/alphamobile.png);
    }
}

.alpine {
    flex: 1;
    background-color: white;
    background-image: url(img/Alpine_logo11.png);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.alpine a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .alpine {
        width: 45px;
        height: 45px;
        background-image: url(alpine/img/alpinemobile.png);
    }
}

.hass {
    flex: 1;
    background-image: url(img/hassF111.jpg);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.hass a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .hass {
        width: 45px;
        height: 45px;
        background-image: url(hass/img/hassmobile.jpg);
    }
}

.astonmartim {
    flex: 1;
    background-image: url(img/astonMartim11.jpg);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.astonmartim a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .astonmartim {
        width: 45px;
        height: 45px;
        background-image: url(astonmartim/img/aston-martin-mobile.jpg);
    }
}

.mclaren {
    flex: 1;
    background-color: white;
    background-image: url(img/Mclaren-f1-team-logo11.png);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.mclaren a {
    padding:110px;
    padding-top:10px;
    padding-bottom: 70px;
    text-decoration: none;
    
}
@media only screen and (max-width:500px){
    .mclaren {
        width: 45px;
        height: 45px;
        background-image: url(mclaren/img/mcmobile.png);
    }
}



p.comeco {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 500px;
    padding: 80px;
    width: 500px;
    font-size: 50px;
    color: white;

}



@media only screen and (max-width:500px){
    p.comeco {
        width:200px;
        height: 50px;
        margin-left: 0px;
        font-size:25px;
        margin-left:70px; 
        padding-top: 100px;
        
        
    }

}



h1 {
    text-align: center;
    margin-top: 60px;
}

@media only screen and (max-width:500px){
    h1{
        text-align: justify;
        margin-left: 20px;
    }
}




.historia {
    font-size:20px;
    padding:20px;
    background-color:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}


h2 {
    margin-top: 50px;
    margin-left: 20px;
}


.inicio {
    font-size:20px;
    padding:20px;
    background-color:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}


 div.fangio{
    margin-left:300px;

}

div.fangio{
    background-image: url(img/fanjo.jpg);
    width: 600px;
    height: 360px;
}

@media only screen and (max-width:500px){
     div.fangio{
         background-image: url(img/fanjo.mobile.jpg);
         width:350px ;
         height: 200px;
         margin: auto;
        
    
    }
}



p.fangio {
    font-size: 15px;
    text-align: center;
    margin: 5;
}


.decada1960 {
    font-size:20px;
    padding:20px;
    background-color:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}


div.ano1960 {
    margin-left:300px;
}

div.ano1960{
    background-image: url(img/1960.jpg);
    width: 600px;
    height: 360px;
}

@media only screen and (max-width:500px){
     div.ano1960{
         background-image: url(img/1960.mobile.jpg);
         width:350px ;
         height: 200px;
         margin: auto;
        
    
    }
}


p.lotus {
    font-size: 15px;
    text-align:center;
    margin: 5;

}


.decada1970 {
    font-size:20px;
    padding:20px;
    background-color:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}


div.ano1970 {
    margin-left:300px;
}

div.ano1970{
    background-image: url(img/niki-lauda.jpg);
    width: 600px;
    height: 360px;
}

@media only screen and (max-width:500px){
     div.ano1970{
         background-image: url(img/niki-lauda.mobile.jpg);
         width:350px ;
         height: 200px;
         margin: auto;
        
    
    }
}


p.niki {
    font-size: 15px;
    text-align: center;
    margin: 5px;
}


.decada1980 {
    font-size:20px;
    padding:20px;
    background-color:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}


div.ano1980 {
    margin-left:300px;
}

div.ano1980{
    background-image: url(img/prost-senna-mclaren.jpg);
    width: 600px;
    height: 360px;
}

@media only screen and (max-width:500px){
     div.ano1980{
         background-image: url(img/prost-senna-mclaren.mobile.jpg);
         width:350px ;
         height: 200px;
         margin: auto;
        
    
    }
}


p.prostsenna {
    font-size: 15px;
    text-align: center;
    margin: 5px;
}


.decada1990 {
    font-size:20px;
    padding:20px;
    background-color:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}


div.ano1990 {
    margin-left:300px;
}

div.ano1990{
    background-image: url(img/hakkinen-mclaren.jpg);
    width: 600px;
    height: 360px;
}

@media only screen and (max-width:500px){
     div.ano1990{
         background-image: url(img/hakkinen-mclaren.mobile.jpg);
         width:350px ;
         height: 200px;
         margin: auto;
        
    
    }
}


p.hakkinen {
    font-size: 15px;
    text-align: center;
    margin: 5px;
}


.decada2000 {
    font-size:20px;
    padding:20px;
    background-color:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}


div.ano2000 {
    margin-left:300px;
}

div.ano2000{
    background-image: url(img/schumacher-ferrari.jpg);
    width: 600px;
    height: 360px;
}

@media only screen and (max-width:500px){
     div.ano2000{
         background-image: url(img/schumacher-ferrari.mobile.jpg);
         width:350px ;
         height: 200px;
         margin: auto;
        
    
    }
}


p.ferrarii {
    font-size: 15px;
    text-align: center;
    margin: 5px;
}


.hoje {
    font-size:20px;
    padding:20px;
    background-color:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;  
}


div.atual {
    margin-left:300px;
}

div.atual{
    background-image: url(img/hamilton-mercedes.jpg);
    width: 600px;
    height: 360px;
}

@media only screen and (max-width:500px){
     div.atual{
         background-image: url(img/hamilton-mercedes.mobile.jpg);
         width:350px ;
         height: 200px;
         margin: auto;
        
    
    }
}


p.hamilton {
    font-size: 15px;
    text-align: center;
    margin: 5px;
}


.futurof1 {
    font-size:20px;
    padding:20px;
    background-color:black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}


p.pilotos {
    margin-left: 20px;
    color: white
    ;
}


table {
    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}


h2.tabela {
    text-align: center;
}


td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    font-size: 20;
}

@media only screen and (max-width:500px){
    td,th {
        border: 1px solid black;
        padding:1px;
        text-align: left;
        font-size:8px;
    
    
    }
}


tbody {
    background-color: white;
}


thead {
    background-color: gainsboro;
}


th {
    font-size: 18px;
}


tbody tr:hover {
    background-color: #EEE;
}



