body {
    margin: 0;
    background-image: url(/mercedes/img/bottas1.jpg);
}

.titulo{
    background-color: rgba(255,255,255,0.7);
    width: 300px;
    margin: auto;
    border-radius: 5px;
}

 h1 {
     text-align: center;
     font-size: 40px;
     margin-bottom: 50px;
 }

 p {
     text-align: center;
     font-size: 20px;
     color:black;
 }

 .containner {
     background-color:rgba(255,255,255,0.7);
     width: 1200px;
     margin: auto;
     padding: 20px;
 }